@media screen and (max-width:1200px)
 {
    
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display:flex;
    }
      .section-container {
        flex-direction: column;
        text-align: center;
    }
    
}