@media screen and (max-width:1200px) {

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

}

@media screen and (max-width:768px){

  section{
    margin: 0 1rem;
  }

  #profile{
    flex-direction: column;
    text-align: center;
  }

  .sections__pic-container1{
    width: 250px;
    margin: auto;
  }

  .section-container{
    flex-direction: column;
  }

  .btn-container{
    flex-direction: column;
    gap: 1rem;
  }

  .icon{
    height: 3rem;
  }

  .title{
    font-size: 2rem;
  }

  .title-1{
    font-size: 2rem;
  }

  .arrow{
    display: none;
  }

}